@inherits LayoutComponentBase
@using Hajir.Crm.Blazor.XrmFrames;
@using MudBlazor;
<MudRTLProvider RightToLeft>
    <MudThemeProvider Theme="MyCustomTheme" />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="page">
        @if (!URL.Contains("/quote/") && !XrmFrameBaseEx.IsXrmPage(URL) && !URL.Contains("/print/"))
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }
        <div class="main">
            @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@
            <ErrorComponent />
            @*<div class="top-row px-4">
            </div>*@
            @*<div class="top-row px-4">
            <AlertComponent />
            </div>*@
            <div class="content px-4 background">
                @Body
            </div>
        </div>
    </div>
</MudRTLProvider>
