.title-container {
	margin: -16px -24px;
	padding: 16px 24px;
	text-align: start;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #ededed;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	overflow:auto;
	max-height:78vh;
}

.form-container, .bundle-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 98%;
}

.form-container {
	padding: 2rem;
	background-color: aliceblue;
	border: 1px solid #d9ecfd;
}

.bundle-container {
	margin-bottom:1rem;
	/*background-color: mintcream;
    border:1px solid #d6f9e7;*/
}

	.bundle-container > div {
		/*display: flex;*/
		justify-content: space-between;
	}

.cabinets {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.cabinet {
	display: grid;
	grid-template-columns: repeat(4, 20px);
	gap: 1px;
}

.cell {
	background-color: mediumaquamarine;
	width: 20px;
	height: 20px;
}


.selected {
	box-shadow: 0 0 0px 5px lightskyblue;
}
.actions-container {
	border-top: 1px solid #ededed;
	width: 110%;
	padding: 8px;
	margin:-8px;
}
