.schematic-container {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background-color: #e4e4e4;
}

.filled{
    background-color: mediumaquamarine;
}

