@using MudBlazor

<div class="design-container">
    <div class="design-title">@this.Cabinets</div>
    <div class="design-info">
        <div class="design-specs">
            <div>Capacity: <div>@Cabinets.Capacity</div></div>
            <div>Quantity: <div>@Cabinets.Quantity</div></div>
            <div>Free: <div>@Cabinets.Free</div></div>
        </div>
        <MudDivider Vertical DividerType="DividerType.FullWidth" FlexItem></MudDivider>
        <div class="design-schematic">
            @foreach (var cabinet in Cabinets.Cabinets)
            {
                <CabinetComponent Cabinet="cabinet" />
            }
        </div>
    </div>
</div>

