<div class="schematic-container">
    <div>@this.Cabinet.ToString()</div>
    <table>
        @for (int i = 1; i <= this.NumberOfRows; i++)
        {
            <tr>
                @for (int j = 1; j <= this.NumberOfColumns; j++)
                {
                    <td class="@GetClass(i,j)"></td>
                }
            </tr>
        }
    </table>
</div>


