.aggregate-products {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border: 1px solid #ddd
}

.product-line {
	display: grid;
	grid-template-columns: repeat(3,auto);
	align-items: center;
}

	.product-line > div {
		display: flex;
		gap: 1rem;
		justify-content: start;
		align-items: center;
	}

		.product-line > div > div {
			cursor: pointer;
			border: 1px solid #eee;
			padding-inline: 0.5rem;
			border-radius: 4px;
		}

.quote-lines {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border: 1px solid #ddd
}

.aggregate-table, .products-table {
	width: 100%;
	margin-block: 0.5rem
}

.q-cell {
	display: flex;
	align-items: center;
	justify-content:space-between;
}

td, th {
	padding: 0.5rem 1rem;
	text-align: start;
	border: 1px solid lightgrey;
}

td {
	background-color: #f7f7f7;
}

td[id="del"]{
	text-align:center;
}

th {
	font-weight:bolder;
	background-color: #f3f3f3;
}
