.number {
	 text-align:center;
	 margin:8px;
	 font-weight:500;
}

.aggregate-table, .products-table {
	width: 100%;
	margin-block: 0.5rem;
/**/
	border-radius: 1rem;
	background-color: lightgray;
	border-spacing: 1px;
	border-collapse:separate;
	font-size:smaller;
}

.q-cell {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.arrows {
	cursor: pointer;
}

td, th {
	padding: 0.5rem 1rem;
}

td {
	background-color: #f7f7f7;
	text-align: start;
}

	td[id="del"] {
		text-align: center;
	}

th {
	font-weight: bolder;
	background-color: #f3f3f3;
	text-align: center;
}

	th:first-child {
		border-radius: 0 1rem 0 0;
	}

	th:last-child {
		border-radius: 1rem 0 0 0;
	}

tr:last-child > td:first-child {
	border-radius: 0 0 1rem 0;
}

tr:last-child > td:last-child {
	border-radius: 0 0 0 1rem;
}
