.quote-setting {
	display: flex;
	padding:1rem;
	gap:2rem;
	border-radius:1rem;
	border: 1px solid lightgrey;
	margin-bottom:1rem;
}
.toggle-button {
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:0.5rem;
	cursor:pointer;
	min-width:110px;
	padding:0.5rem;
	color:blue;
}

.active{
	border: 1px solid blue;
	box-shadow: 0 0 10px -3px blue;
}
.inactive {
	border: 1px solid lightgrey;
	color: #464646;
}
.discount {
	display:flex;
	gap:4px
}
